/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.myheader{
	padding: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

ul{
	width: 505px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding-top: 10px;
}

li{
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}

.fa-bars{
	display: none;
}

.banner{
	max-width: 1519px;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	position: relative;
	z-index: 5;
}
.text1{
	position: absolute;
	top: 307px;
    margin: 0 auto;
	width: 100%;
	text-align: center;
	z-index: 10;

}

.text1 > h1{
	font-size:78px ;
	color: #FFFFFF;
	padding-bottom: 55px;
	font-family: 'Raleway', sans-serif;
}

.text1 > h2{
	font-size:18px ;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
}


.container{
	margin: 75px 95px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.left-box{
	width: 242px;
	height: 238;
}


 .left-box > h1{
	font-size: 15px;
	color: #8D8D8D;
	font-family: 'Raleway', sans-serif;
 }

 .left-box > h2{
	font-size: 25px;
	color:#1A1A1B;
	font-family: 'Raleway', sans-serif;
	margin-top: 13px;
	margin-bottom: 45px;
 }

 .left-box > p{
	font-size: 15px;
	color: #8D8D8D;
	line-height: 21px;
 }

 .cards{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
 }

 .card{
	width: 301px;
	height: 327px;
	
}

.heading{
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	padding-top: 10px;

}

.text{
	width: 268px;
	height: 94px;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	padding-top: 12px;
	font-weight: 500;
}


@media (max-width:768px){
	nav{
	 display: none;
	}
	
	.fa-bars{
	 display: inline-block;
	}

	.text1{
		top: 100px;
	}

 }


 
@media (max-width:768px){
	nav{
	 display: none;
	}
	
	.fa-bars{
	 display: inline-block;
	}

	.container{
		display: block;
		margin: 45pxpx;
	}

	.text1 > h1{
	    font-size: 30px;
		padding-bottom: 10px;
	}

	.left-box{
	    padding-bottom:15px;
	}
 }